/* Setup Screens */
*{
	margin: 0;
	padding: 0;
}

#mobile-setup{
	width: 446px;
	height: 793px;
	margin: 0;
	border: solid 1px black;
	background: #191919;
	color: #fff;
	position: relative;
}

/* Welcome Screen */
#welcome{
	text-align:center;
	font-family: Helvetica, sans-serif;
}



#welcome-header{
	font-size: 38px;
	font-weight: bold;
	margin: 250px 0 30px;
	padding: 5px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#welcome-description{
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	letter-spacing: -1px;
	margin: 5px 0 20px;
	padding: 5px;
}

.login, .login-submit{
	width: 200px;
	margin: 3px;
}

.login{
	height: 24px;
	font-size: 16px;
	padding: auto 5px;
}

.login-submit{
	margin: 10px 0;
	border: none;
	background: #0191C8;
	height: 30px;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	border-radius: 3px;
	font-weight: bold;
}
/* End Welcome Screen */

/* Dining Hall Choices and Dietary Preferences First Time Setup Screens */

#setup-header {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 25px;
	margin: 5px;
}

#mobile-setup form ul li{
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 25px;
	margin: 5px;
	padding: 10px;
	background: #252525;
}

.squaredFour {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#setup-footer{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
}

#setup-footer input {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 30px;
	text-align: center;
	background: #3DB0FC;
	color: #fff;
	width: 300px;
	height: 60px;
	padding: 10px;
	border: none;
	border-radius: 4px;
}

/* Dining Halls Choices First Time Setup Screen */

#DiningHallsFirstTime{
	
}

/* End Dining Halls Choices First Time Setup Screen */

/* Dietary Preferences First Time Setup Screen */

#mobile-setup form ul li strong{
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 25px;
	margin-left: -5px;
}

/* End Dietary Preferences First Time Setup Screen */

/* Sidebar Formats */

#sidebar{
	background: #333;
	width:300px;
	height:793px;
	border: solid 1px black;
	color: white;
}

#side-header{
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 25px;
	margin: 5px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#side-header .sidebar-icon {
	background: url('assets/img/icons/access-sidebar.png') center left no-repeat;
	text-indent: -9999px;
}

.setup-title{
	background-color: #444;
	margin: 5px;
	padding: 10px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.setup-selections{
	margin: 5px;
	background-color: #444;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.setup-title p, .setup-selections p{
	margin: 0;
	padding: 0;
	font-size: 25px;
}

.setup-title p, .setup-selections p{
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.setup-selections p a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

/* End Sidebar Formats */