<!-- <div ui-view>  -->
    <div id="sp-nav" class="wide">
        <div class="sidebar" ng-controller="sidebarController">
            <div id="sidebar-header" class="header">
                <div id="title" class="sidebar-title"><b>FOODBACK</b></div>
            </div>
            <li ng-repeat="item in sidebarItems" class="sidebarBar" ng-click="$spMenu.toggle(); overlayToggle()" ui-sref="{{item.link}}">{{item.name}}</li>
        </div>
    </div>

    <div id="sp-page">
        <div class="header">
            <span></span>
            <span>
                <i class="fa fa-bars fa-lg" ng-click="overlayToggle(); $spMenu.toggle()"></i>
            </span>
            <span id="title" class="home-title"><b>HOMEPAGE</b></span>
        </div>
        <div class="navbar" ng-controller="navbarController">
            <div id="nav-text" ng-click="changeSelected(0)" ng-class="{active : selectionNum==0}" ui-sref="home.choosing">Choosing</div>
            <div id="nav-text" ng-click="changeSelected(1)" ng-class="{active : selectionNum==1}" ui-sref="home.feedback">Feedback</div>
            <div id="nav-menu" ng-click="changeSelected(2)" ng-class="{active : selectionNum==2}" ui-sref="home.menu">Menu</div>
        </div>
        <div ui-view></div>
        <div ng-show="overlayOn()" id="overlay" class="check-element overlay-show-hide" style="clear:both;"></div>
    </div>
<!-- </div> -->
