<div id="dayBar"><span ng-class="{'fa fa-angle-left fa-lg': !noMorePast}" ng-click="changeDay(1)"></span>{{menuItems[currentDay].date}}<span ng-class="{'fa fa-angle-right fa-lg': !noMoreFuture}" ng-click="changeDay(0)"></span></div>
<div id="mealBar">
	<div class="selections" ng-click="changeMeal(0)"><span ng-class="{active : mealNumber==0}">Breakfast</span></div> 
	<div class="selections" ng-click="changeMeal(1)"><span ng-class="{active : mealNumber==1}">Lunch</span></div> 
	<div class="selections" ng-click="changeMeal(2)"><span ng-class="{active : mealNumber==2}">Dinner</span></div> 
</div>
<div id="optionsBar" ng-click="viewAll()" ng-class="{active: everythingOpen }"><span class='fa fa-expand'></span> View all</div>
<ul id="menu">
	<li ng-repeat="station in menuItems[currentDay][selectedMeal]"  class="station">
		<p ng-click="station.open = !station.open; checkStatus(station)">{{station.stationTitle}} <span ng-class="{'fa fa-angle-down' : station.open, 'fa fa-angle-right' : !station.open }"></span></p>
		<ul ng-show="station.open" id="menu">
			<li ng-repeat="meal in station.stationContents" class="meal">{{meal}}</li>
		</ul>	
	</li>
</ul>



