
.mainContent1 p {
  font-weight: 300;
  font-size: 16px;
  padding: 0 10px;
}

.subTitle{
	background-color: #449bb5;
	font-size: 18px;
	color: white;
	text-align: center;
	margin-top: 3px;
	padding: auto;
	height: 40px;
    line-height:2em;

}
.submitButton{
	text-align: center;
	color: #449bb5;
	margin-left: 125px;
}
.centermarginTextArea{
	text-align: center;
	margin-left: 2px;
}
.centermarginTextBox{
	text-align: center;
}
.textBoxText{
	color: #BDBDBD;
}
.nextButton1 {
  display: block;
  bottom: 20px;
  text-align: center;
}

.center1{
	text-align: center;
}

