/* Home Tutorial For Inexperienced Users */

.tutorial-description {
	margin: 5px;
	padding: 5px;
	background: #6984fe;
	color: #fff;
	height: 141px;
	border-radius: 5px;
}

.tutorial-description h1{
	display: block;
	margin: 0;
	padding: 5px;
	font-size: 30px;
	text-height: 45px;
	top: 10px;
}

.tutorial-description p {
	margin: 0;
	padding: 5px 0;
	font-size: 16px;
	text-align: center;
}

a:active {
	background: #1f31ff;
}

/* End Home Tutorial Screen */

/* Top Navigation Bar */

nav ul {
	list-style: none;
	margin: 1px;
	padding: 0;
	text-indent: none;
	display: block;
}

nav ul li{
	display: inline-block;
	margin: -1px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 95px;
	background: #4879e3;
	text-align: center;
	font-size: 16px;
	color: #dedede;
	font-weight: bold;
}

nav ul li.home-active {
	background: #002bff;
	width: 105px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

/* End Top Navigation Bar */

/* Date Bars */

.date-bar {
	display: block;
	margin: -5px 0;
	background: #1b8ddc;
	clear: both;
}

.date-bar h1 {
	padding: 5px;
	font-size: 16px;
	color: #fff;
}

/* End Date Bars */

/* Meal Option Formats */

.meal-choosing {
	display: block;
	position: relative;
	width: 100%;
}

.meal-choosing, .meal, .dish, .dish-options {
	height: 300px;
}

.meal {
	margin-top: 0px;
	display: block;
	float: left;
	width: 24px;
	background: #555;
}

.meal h1 {
	text-align: center;
	font-size: 23px;
	word-wrap: break-word;
	padding: 50% 0;
}

.dish {
	float: left;
	word-wrap: break-word;
	width: 20px;
	padding: 50% 0;
	background: #aaa;
	margin-left: 0;
}

.dish h2 {
	margin: 0;
	text-align: center;
	font-size: 17px;
	padding: 5px 4px;
}

.meal h1, .dish h2 {
	font-family: monaco, Consolas;
}

.dish hr, .dish-options hr {
	border: none;
	height: 3px;
	margin: 0;
	background: #fff;
}

.dish-options {
	float: left;
	width: 260px;
	margin: 0;
	background: #80B5FF;
	padding: 0;
}

.dish-options form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dish-options form ul li {
	text-indent: 3px;
	padding: 3px;
	margin: 4px;
	background: #006AFF;
	color: #fff;
	font-size: 18px;
	height: 26px;
}

.dish-options form ul li label:active {
	background: #B0D1FF;
}

/* End Home Tutorial Screen */



.mainContent1 p {
  font-weight: 300;
  font-size: 14px;
  padding: 0 10px;
}

.subTitle{
    background-color: #D8CEF6;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    padding: auto;
    height: 40px;
    line-height:2em;

}
.centerMargin{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.textBoxText{
    color: #BDBDBD;
}
.nextButton1 {
  display: block;
  bottom: 20px;
  text-align: center;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.center1{
    text-align: center;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/* End Meal Option Formats */

/* Choosing Submit Button */


.submit-votes input {
	background: #1d8fcc;
	position: absolute;
	width: 90%;
	margin-left: -45%;
	left: 50%;
	height: 40px;
	bottom: 0px;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* End Submit Button */
